body{
    background-color: #f2f2ea;
}

a.navbar-brand {
  font-family: "Nunito", sans-serif;
  color: #c76675 !important;
  font-size: 2rem;
  font-weight: lighter;
  margin-top: 0; }

a.nav-link {
    font-family: "Nunito",sans-serif;
    font-size: 1.5rem;
    font-weight: lighter;
    color:#edb7bc !important;
}

a.nav-link:hover {
    font-family: "Nunito",sans-serif;
    color:#c76675 !important;
}

a.disabled {
    color: white !important;
}

.navbar-trans {
    background: transparent; }

.navbar-toggle-icon
{ background-color: #fff;}

p.lead{
    color: #be7266;
}
h1{
    font-family: "Nunito",sans-serif;
    font-weight: lighter;
    color: #c76675!important;
    text-transform: uppercase;
    font-size: 3rem;
    letter-spacing: 3px;
}

h1>span{
    color: #f2dadb;
    text-transform: lowercase;
}

h2{
    font-family: "Nunito",sans-serif;
    font-weight: lighter;
    color: #EA1C2C !important;
    text-transform: uppercase;
    font-size: 2.5rem;
}

@media (max-width:1200px){
    h2 h1{
    font-weight: 100;
    font-size: 2rem;
    }
}

.navbarcolorscroll.scrolled1 {
    background-color: #f2dadb !important;
    transition: background-color 200ms linear;
  }

#logocolorscroll.scrolled2 {
    font-weight: bolder;
    transition: color 200ms ease-in;
  }


.fonts p {
    font-size: 1.25rem;
    font-weight: 100;
    line-height: 2;
}

.sectionmargin{
    margin-top: 100px;
}

@media (max-width:576px){
 .smallscreen {
     margin-right: 0px;
     padding-right: 0px;
 }
}