div.jumbotron {
    background-image:url('../imgs/background-pink.jpg');
    background-position: center;
    background-size: cover; 
    padding: 20%;
}



h1.display-4 {
    font-family: report,sans-serif;
    font-size: 2rem;
    font-weight: lighter;
    color: aliceblue;
    font-style: normal;
}

p.lead{
    font-family: report,sans-serif;
    font-size: 1.25rem;
    font-weight: 90;
    color: aliceblue;
    font-style: normal; 
}